.nav-link {
  position: relative;
  overflow: visible;
}

/* underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /* adjust to match your border baseline */
  width: 100%;
  height: 3px;
  background-color: #5d2950;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 400ms ease-in-out;
  opacity: 1;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}
